mjml
  mj-head
  mj-body
    mj-section
      mj-column
        mj-image(width='100px' src='https://mjml.io/assets/img/logo-small.png')
        mj-divider(border-color='#F45E43')
        mj-text( css-class="red-text" ) Hello World 1234567
        each val in users
          mj-text= val
